*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #00ACE6;
    font-family: sans-serif;
    
}

h1{
    color: #fff;
    text-align: center;
    margin: 10px;
}

.theitens{
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    margin: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    min-height: 100px;
    min-width: 100px;
}

.itens{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

