*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #141414;
    color: #fff;
}

.banner{
    background-color: #7a3737;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: end;
}

.picture{
    width: 200px;
    height: 200px;
    background-color: #fff;
    
}