*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #00ACE6;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}

h1{
    color: #fff;
    text-align: center;
    margin: 10px;
}

.theitens{
    background-color: #fff;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
    max-height: 50dvh;
    max-width: 60dvw;
    
}

.number{
    display: flex;
    gap: 10px;    
}


